@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.details-card{
width:500px;
height:500px;
margin:auto;

}
.card-text{
    
} 

.heart{
    margin-right: 10px;
}
.card-img-top{
    width:500px;}

.details-title{
    text-align: center;
    margin:30px ;
    font-family: 'Girassol', cursive;
    color: rgb(13,110,253);
    font-size: 4rem;


}
.card-title{
color: rgb(13,110,253);   
}

