@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    margin:0;
    padding:0;
}
.form-title{
    color:rgb(13, 110, 253);
    margin:auto;
    text-align: center;
    font-family: 'Girassol', cursive;
}
.login-form{
    width: 40%;
    margin:auto;
    background-color: white;
    padding: 40px;
    margin-top:10vh

    

}
.div-form{
    background-image: url("https://picsum.photos/1600/900");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.text-align-center{
width:100%;

}
.blok{
    width:40%;
    height: 60%;
    display: block;
    margin:auto;
}