@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    margin:0;
    padding:0;
}
.form-title{
    color:rgb(13, 110, 253);
    margin:auto;
    text-align: center;
    font-family: 'Girassol', cursive;
}
.login-form{
    width: 40%;
    margin:auto;
    background-color: white;
    padding: 40px;

    

}
.div-form{
background-image:url("https://picsum.photos/800/800");
background-repeat: no-repeat;
background-size: cover;
/* //object-fit: cover; */
margin:0;
min-height: 100vh;

}
.text-align-center{
width:100%;

}
.blok{
    width:40%;
    height: 60%;
    display: block;
    margin:auto;
}