*{
    margin:0;
    padding:0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
.form-title{
    color:rgb(13, 110, 253);
    margin:auto;
    text-align: center;
    font-family: 'Girassol', cursive
}
.register-form{
    width: 40%;
    margin:auto;
    background-color: white;
    height: 100%;

}
.text-align-center{
background-image:url("https://picsum.photos/800/800");
height: 100%;
width:100%
}
.blok{
    width:40%;
    height: 60%;
    display: block;
    margin:auto;
}