.card-img-top{
width:20px;
height:250px;
background-size:cover;
margin:10px 10px auto;
display: block;
}
.heart{
    margin-right:20px;
}
.chat{
    margin-right:10px;
    margin-left:15px;
}
.cards-div{
    
    

} 
.card{

margin:10px;
display:inline-block;
box-shadow: 5px 3px 3px rgb(13, 110, 253);;
}
.load{
    width:20%;
    margin:auto;
    display: block;
}