.card-img-top{
width:50px;
height:150px;
background-size: cover;
margin:20px;
}
.heart{
    margin-right:20px;
}
.chat{
    margin-right:10px;
    margin-left:15px;
}
.cards-div{
    
    

} 
.card{
    margin:30px;
    display:inline-block
}
.load{
    width:20%;
    margin:auto;
    display: block;
}